extends layout

block content
  h1= username
  ul
    li
      h2 Email:
        = email
    li
      h2 GoogleID:
        = googleID
    li
      a(href='#{img}')
        h2 Img Link

  form(action='/users/logout', method='post')
    input(type='submit', value='Log Out')

  a(href='/restaurants')
    h3 Restaurants